<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Cliente</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/Cliente.js"></script>
</head>
<body>
    <h1>WebSocket Cliente</h1>
    <input type="text" id="id_cliente" placeholder="ID Cliente">
    <input type="text" id="nombre_usuario" placeholder="Nombre de Usuario">
    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="apellido_paterno" placeholder="Apellido Paterno">
    <input type="text" id="apellido_materno" placeholder="Apellido Materno">
    <input type="text" id="id_direccion" placeholder="ID Direccion">
    <input type="text" id="correo" placeholder="Correo">
    <input type="text" id="telefono" placeholder="Telefono">
    <input type="text" id="num_tarjeta" placeholder="Numero de Tarjeta">
    <button onclick="sendAction('get_cliente')">Get Clientes</button>
    <button onclick="sendAction('add_cliente')">Add Cliente</button>
    <button onclick="sendAction('update_cliente')">Update Cliente</button>
    <button onclick="sendAction('delete_cliente')">Delete Cliente</button>
    <ul id="messages"></ul>
</body>
</html>
