<!DOCTYPE html>
<html>

<head>
    <title>WebSocket Direccion</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/Direccion.js"></script>
</head>

<body>
    <h1>WebSocket Direccion</h1>
    <input type="text" id="id_direccion" placeholder="ID Direccion">
    <input type="text" id="id_cliente" placeholder="ID Cliente">
    <input type="text" id="direccion" placeholder="Direccion">
    <input type="text" id="ciudad" placeholder="Ciudad">
    <input type="text" id="municipio" placeholder="Municipio">
    <input type="text" id="cp" placeholder="CP">
    <button onclick="sendAction('get_direccion')">Get Direccion</button>
    <button onclick="sendAction('add_direccion')">Add Direccion</button>
    <button onclick="sendAction('update_direccion')">Update Direccion</button>
    <button onclick="sendAction('delete_direccion')">Delete Direccion</button>
    <ul id="messages"></ul>
</body>

</html>