<!DOCTYPE html>
<html>

<head>
    <title>WebSocket Libro</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/Libro.js"></script>
</head>

<body>
    <h1>WebSocket Libro</h1>
    <input type="text" id="id_autor" placeholder="ID Autor">
    <input type="text" id="titulo" placeholder="titulo">
    <input type="text" id="genero" placeholder="genero">
    <input type="text" id="anio" placeholder="Año">
    <input type="text" id="editorial" placeholder="editorial">
    <input type="text" id="precio" placeholder="precio">
    <input type="text" id="cantidad" placeholder="cantidad">
    <input type="text" id="disponibilidad" placeholder="disponibilidad">

    <button onclick="sendAction('get_libro')">Get Libro</button>
    <button onclick="sendAction('add_libro')">Add Libro</button>
    <button onclick="sendAction('update_libro')">Update Libro</button>
    <button onclick="sendAction('delete_libro')">Delete Libro</button>
    <ul id="messages"></ul>
</body>

</html>