<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Proveedor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/Usuario.js"></script>
</head>
<body>
    <h1>WebSocket Proveedor</h1>
    <input type="text" id="id_proveedor" placeholder="ID Proveedor">
    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="tel_contacto" placeholder="Telefono de Contacto">
    <button onclick="sendAction('get_proveedor')">Get Proveedor</button>
    <button onclick="sendAction('add_proveedor')">Add Proveedor</button>
    <button onclick="sendAction('update_proveedor')">Update Proveedor</button>
    <button onclick="sendAction('delete_proveedor')">Delete Proveedor</button>
    <ul id="messages"></ul>
</body>
</html>
