<!DOCTYPE html>
<html>

<head>
    <title>WebSocket Tarjeta</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/Tarjeta.js"></script>
</head>

<body>
    <h1>WebSocket Tarjeta</h1>
    <input type="text" id="num_tarjeta" placeholder="Numero de Tarjeta">
    <input type="text" id="id_cliente" placeholder="ID Cliente">
    <input type="text" id="cvv" placeholder=CVV">
    <input type="text" id="fecha_vencimiento" placeholder="Fecha de Vencimiento">
    <input type="text" id="banco" placeholder="Banco">

    <button onclick="sendAction('get_tarjeta')">Get Tarjeta</button>
    <button onclick="sendAction('add_tarjeta')">Add Tarjeta</button>
    <button onclick="sendAction('update_tarjeta')">Update Tarjeta</button>
    <button onclick="sendAction('delete_tarjeta')">Delete Tarjeta</button>
    <ul id="messages"></ul>
</body>

</html>