<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Tipo Venta</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/TipoVenta.js"></script>
</head>
<body>
    <h1>WebSocket Tipo Venta</h1>
    <input type="text" id="id_tipo" placeholder="ID Tipo de Venta">
    <input type="text" id="nombre" placeholder="Nombre del Autor">
    <button onclick="sendAction('get_tipoventa')">Get Tipo Venta</button>
    <button onclick="sendAction('add_tipoventa')">Add Tipo Venta</button>
    <button onclick="sendAction('update_tipoventa')">Update Tipo Venta</button>
    <button onclick="sendAction('delete_tipoventa')">Delete Tipo Venta</button>
    <ul id="messages"></ul>
</body>
</html>
